.skincare_product__body{
    display: flex;
}
.skincare_product__body div{
    width: 40%;
}
.skincare_product__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
.skincare_product__banner{
    display: flex;
}
img[alt="skincare-product-1"], img[alt="skincare-product-2"]{
    height: 400px;
}

